Try to do this using classes:

In [45]:
class Moon(): 
    
    """Every moon will have position and velocity in x, y, and z dimensions. 
    They are numbered 1, 2, 3, 4"""
    
    def __init__(self): 
        """Set all to 0 initially"""
        self.number = number
        self.other_3 = [1, 2, 3, 4]
        self.other_3.remove(self.number)
        self.pos_x = 0
        self.pos_y = 0
        self.pos_z = 0
        self.vel_x = 0
        self.vel_y = 0
        self.vel_z = 0
    
    def find_other_3(self):
        """Find the positions of the other three moons"""
        names = ['moon_' + str(number) for number in self.other_3]
        for name in names:
            name.pos_x
    
    # def find_velocity
    
    # def find_next_position
    
    # def apply

In [46]:
moon_1, moon_2, moon_3, moon_4 = Moon(1), Moon(2), Moon(3), Moon(4)
print(moon_1.number)

1

Set initial positions:

In [47]:
moon_1.pos_x, moon_1.pos_y, moon_1.pos_z = 6, 10, 10
moon_2.pos_x, moon_2.pos_y, moon_2.pos_z = -9, 3, 17
moon_3.pos_x, moon_3.pos_y, moon_3.pos_z = 9, -4, 14
moon_4.pos_x, moon_4.pos_y, moon_4.pos_z = 4, 14, 4

In [48]:
print(moon_1.find_other_3())

['moon_2', 'moon_3', 'moon_4']

In [43]:
x = [1, 2, 3]
print(['moon_' + str(number) for number in x])

['moon_1', 'moon_2', 'moon_3']